:root {
  --title-font-family: "Poppins", sans-serif;
  --subtitle-font-family: "Lato", sans-serif;
  --main-font-family: "Exo 2", sans-serif;
}

h1 {
  color: red;
  font-family: var(--title-font-family);
}
p {
  font-family: var(--main-font-family);
  font-size: 50px;
}
h2 {
  font-family: var(--subtitle-font-family);
  font-size: 50px;
}
